/* Sign in */
.field {
  margin-bottom: 1.5rem;
}
.input-width,
.p-password input {
  width: 14rem;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

@keyframes p-progress-spinner-color {
  100%,
  0% {
      stroke: #d62d20;
  }
  40% {
      stroke: #0057e7;
  }
  66% {
      stroke: #008744;
  }
  80%,
  90% {
      stroke: #ffa700;
  }
}